:root {
    --accent: #ffffff;
    --secondary: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #000000;
    align-items: center;
    display: flex;
    line-height: 1.4;
    margin: 0;
}

svg {
    max-height: 100vh;
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    shape-rendering: crispEdges;
    vertical-align: middle;
}


#game {
    background-color: black;
}

/*  Title  */

.menu .text {
    opacity: 0.1;
}

.menu .selected .text {
    opacity: 1;
}

.menu .stars {
    display: none;
    shape-rendering: auto;
}

.menu .selected .stars {
    display: block;
}


/*  HUD  */

#hud {
    opacity: 0.1;
}


/*  Guy  */

#inner-guy,
#inner-enemy {
    transform-origin: 16px;
}


.left #inner-guy {
    transform: scaleX(-1);
}

/*.left #inner-enemy {*/
/*  transform: scaleX(-1);*/
/*}*/

.walk #left_foot,
.walk #right_foot {
    animation: walk 0.2s infinite;
}

.walk #right_foot {
    animation-delay: 0.1s;
}

.walk #head {
    animation: walk 0.4s infinite;
    position: relative;
    z-index: 5;
}

.walk #enemy-head {
    animation: walk 0.4s infinite;
    position: relative;
    z-index: 5;
}

/*.stay #guy {*/
/*    animation: stay 4s infinite;*/
/*    animation-timing-function: steps(2);*/
/*}*/

/*.stay #right,*/
/*.stay #left {*/
/*    animation: stay 4s steps(2) infinite;*/
/*}*/

/*.stay #left {*/
/*    animation-delay: 2s;*/
/*}*/
#foots, #head {
    transform-origin: 16px;
}
.stay #foots {
        animation: stay-body steps(1) 0.4s infinite;
}
.stay #head {
    animation: stay-body steps(1) 0.4s infinite;
}
.stay #left-hand {
    animation: stay-left-hand steps(1) 0.4s infinite;
}
.stay #right-hand {
    animation: stay-right-hand steps(1) 0.4s infinite;
}

.on #guy .accent,
.off #face {
    fill: var(--secondary);

}

.on #face,
.off #guy .accent {
    fill: var(--accent);
}

/*  Death Animation  */

#death rect {
    display: none;
}

.dying #death rect {
    animation: death 0.8s infinite;
    display: initial;
    opacity: 0;
}

@keyframes death {
    0% {
        opacity: 1;
        transform: rotate(45deg);
    }
    50% {
        opacity: 0;
        transform: rotate(0);
    }
}



/*  Swap Foreground/Background  */

.on > svg {
    background: var(--secondary);
    color: var(--accent);
    fill: var(--accent);
}

.off > svg {
    background: var(--accent);
    color: var(--secondary);
    fill: var(--secondary);
}

.on .dark, .off .light {
    opacity: 0.1;
}


/*  Animations  */

@keyframes walk {
    50% {
        transform: translateY(-2px);
    }
}

@keyframes stay-body {
    50% {
        transform: scaleX(-1);
    }
}
@keyframes stay-left-hand {
    50% {
        transform: translateY(1px);
    }
}
@keyframes stay-right-hand {
    50% {
        transform: translateX(1px);
    }
}

@keyframes pulse {
    50% {
        transform: scale(0.7);
    }
}


/*  Misc  */

[hidden] {
    display: none !important;
}


.ladder {
    fill: url(#ladder);
}

.line {
    fill: url(#line);
}

.wall {
    fill: url(#brick-wall);
}

.grass {
    fill: url(#grass);
}

.xman {
    fill: #2340af;
}

.yman {
    fill: #e56e13;
}

pattern {
    fill: #e5e5e5;
}

